{% extends 'base.html.twig' %}

{% block title %}Nouvel atelier{% endblock %}

{% block body %}
    <h1 class= "m-5 text-center">Créer un nouvel atelier</h1>
<div class = "w-50 p-3 mx-auto">
    {{ include('workshop/_form.html.twig') }}

    <a class="btn btn-info mt-4" href="{{ path('app_workshop_index') }}">Retour</a>
        </div>
{% endblock %}
